<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<link rel="icon" href="/static/logo.png">
		<title>776</title>
		<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
		<script src="{{ url_for('static', filename='js/main.js') }}"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>



	</head>
	<body>


		<div class="parent">

			{% for a in articles %}

			<div class="wimg">
				<a href="{{ url_for('index', _external=False) }}{{ a.path }}">
					{% if a.cover %}
					<img src="{{ url_for('static', filename='img/' + a.meta.cover) }}"/>
					{% else %}
					<img src="{{ url_for('static', filename='img/def.jpg') }}"/>
					{% endif %}
				</a>
			</div>

			<div class="li2">
				
				{% include 'menu-author.html' %}

				{% include 'menu.html' %}



			</div>

			<div class="li1">
				
				<h3>776</h3>

			</div>

			<div class="wdesc">
				<!--						<h2>{{a.meta.author}}</h2> -->
				<h1>{{a.meta.author}}: {{a.title}}, {{a.meta.published.strftime('%Y')}}, {{a.meta.desc}} </h1>
				<!--						<h3>{{a.meta.published}}</h3>-->

				<!--						<blockquote></blockquote>-->
				<!--						<span class="categorie"><a href="{{ url_for('index', _external=False) }}cat/{{a.cat}}">{{a.cat}}</a></span>-->
				<!--						<blockquote></blockquote>-->

				<!--						<span class="date">{{a.published}}</span>-->

			</div>



			<div class="hban"> <h3> <a class='home' href="/776/">776</a> </h3> </div>

			{% endfor %}

		</div>



	</body>
	<!--

<div class="parent">
<div class="div1"> </div>
<div class="div2"> </div>
<div class="div3"> </div>
<div class="div4"> </div>
<div class="div5"> </div>
</div>


.parent {
display: grid;
grid-template-columns: repeat(2, 1.5fr) repeat(3, 1fr);
grid-template-rows: 0.5fr repeat(3, 1fr) 0.5fr;
grid-column-gap: 0px;
grid-row-gap: 0px;
}

.div1 { grid-area: 2 / 1 / 5 / 3; }
.div2 { grid-area: 2 / 3 / 5 / 4; }
.div3 { grid-area: 1 / 4 / 5 / 6; }
.div4 { grid-area: 1 / 1 / 2 / 4; }
.div5 { grid-area: 5 / 1 / 6 / 6; }
-->

</html>
