<div id="menu-author">
	<nav>
		<ul>
	

			<li class='selected'> <div class='t1'> Oeuvres de {{selectedAuthor}}</div>
				<ul>
					{% for article in articles %}
					{% if article.meta.author == selectedAuthor %}
					<li>
						<a class='selected' href="{{ url_for('index', _external=False) }}{{article.path}}"> 	<img src="{{ url_for('static', filename='img/' + article.cover) }}" alt="Cover image" >{{article.meta.title}}</a>
					</li>
					{% endif %}
					{% endfor %}
				</ul>
			</li>





		</ul>
	</nav>
</div>
